.main{
   background: url(10.jpeg);
   background: linear-gradient(to top,rgba(0,0,0,0.5)1%,rgba(0,0,0,0.5)1%);
   width: 400vh;
   height: 70vh;
}
.menu{
    font-size: 36px;
    color:green;
}
.main h1{
    font-size: 64px;
    color:black;
    font-family:cursive;
    
}