.main h1{
color: black;
font-size: 48px;
}
.ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:36px;
    font-family: cursive;
    
}
ul li a{
    text-decoration: none;

}