.main{
    background:url(1.jpg);
    background-size: cover;
    height: 40vh;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 24px;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.6;
}
ul li a:hover{
    color: aqua;
}
